<div class="container">
  <h2>Créer un nouveau projet</h2>
  <form [formGroup]="projetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom :</label>
      <input type="text" id="nom" class="form-control" formControlName="nom">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description :</label>
      <textarea id="description" class="form-control" formControlName="description"></textarea>
    </div>
  
    
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
</div>
