<h2>Bienvenue sur le tableau de bord</h2>

<div >
    <h3>Resultats</h3>
  
    <table id="userTable" class="table">
      <thead>
        <tr>
          <th>Competence</th>
          <th>etat</th>
          <th>Resultat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of resultats ">
          <td>{{result.competence.nom }}</td>
          <td>{{result.resultat }}</td>
          <td>
            {{result.note }} %
          </td>

        </tr>
      </tbody>
    </table>
    <h3>Les projets inscrits</h3>
  <table id="userTable" class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Enseignat</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of projetsInscrits ">
        <td>{{ projet.nom }}</td>

          <td>{{ projet.enseignant.name }}</td>
        
          <td>
          <button class="btn btn-primary" (click)="projetDetail(projet._id)">Voir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Les projets non inscrits</h3>
  <table id="userTable" class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Eseignant</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of autre_projets ">
        <td>{{ projet.nom }}</td>
        <td>{{ projet.enseignant.name }}</td>
        <td>
          <button class="btn btn-primary" (click)="sInscrire(projet._id)" >s'inscrire</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
