<h2>Bienvenue sur le tableau de bord</h2>

<div >
    <h3>Compétences acquises :</h3>
  <ul>
    <li *ngFor="let competence of competencesacquises">{{ competence.nom }}</li>
  </ul>

  <h3>Projets auxquels vous êtes inscrit :</h3>
  <ul>
    <li *ngFor="let project of projetsInscrits">{{ project.nom }}</li>
  </ul>

  <h3>Les projets non inscrits</h3>
  <table id="userTable" class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Esneigant</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of autre_projets ">
        <td>{{ projet.nom }}</td>
        <td>{{ projet.enseignant.name }}</td>
        <td>
          <button class="btn btn-primary" (click)="sInscrire(projet._id)" >s'inscrire</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
