<!-- <h2>Liste des utilisateurs</h2>

<ul>
  <li *ngFor="let user of users">
    {{ user.name }} - {{ user.role }}
  </li>
</ul>

<button (click)="openUserModal()">Ajouter utilisateur</button>


 -->
 <div class="container">
  <h1>Admin Dashboard</h1>

  
  <table id="userTable" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-primary" >Modifier</button>
          <button class="btn btn-danger" >Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary mb-3" (click)="openUserModal()">Ajouter un utilisateur</button>
</div>
