
 <div class="container">
  <h1>Admin Dashboard</h1>

  
  <table id="userTable" class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-primary" >Modifier</button>
          <button class="btn btn-danger" >Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="/user/new"><button class="btn btn-primary mb-3" >Ajouter un utilisateur</button></a>
</div>

<button class="btn btn-danger" (click)="logout()">Déconnexion</button>

